﻿/*

  This is custom CSS which is applied into the Index and JobComapare() Design pages.  

*/

/*CSS for user Defined Table.*/

table {
margin:0px auto;
 color:blue;
 text-decoration:none; 
 align-self:center;
}
    table h2 {margin-top:-12px;}

   div#maindiv{
    width:1300px;
    height:500px;
    vertical-align:middle;
    margin:0px auto;
    border:none;
    }


    div#sourcedata {
    height:500px; 
    width:650px; 
    overflow-y: scroll;
    float:left;
    border:none;
   }

    div#targetdata {
    height:500px; 
    width:650px; 
    overflow-y: scroll; 
    float:left;
    border:none;
     }

  button {
    background-color: #99cc00; /* Green */
    border: none;
    color: white;
    padding: 5px 5px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin-left:200px;
    border-radius:25px;
}

tr#btn>button.btn {
    background-color: #99cc00; /* Green */
    border: none;
    color: white;
    padding: 5px 5px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius:25px;

}
    button:hover {
    background-color:orange;
    }


/*CSS for "WebGrid" classes.*/      
       
 .webgrid-table
    {
        font-family: "Trebuchet MS" , Arial, Helvetica, sans-serif;
        font-size: 1.2em;
        display: table;
        border-collapse: separate;
        border: solid 1px #98BF21;
        background-color: white;
        width:200px;
         
  }
table.webgrid-table > thead + tbody > tr.webgrid-row-style { height:20px;}
table.webgrid-table > thead + tbody > tr.webgrid-alternating-row {height:20px; white-space:nowrap;}

 table.webgrid-table > thead + tbody > tr td {
	max-width: 100px;
	overflow: hidden;
}
    .webgrid-table td, th
    {
       /*border: 1px solid #98BF21;*/ 
        padding: 3px 7px 2px;
        
        
    }
   
    .webgrid-header
    {
        background-color:blanchedalmond;
        color: #FFFFFF;
        padding-bottom: 4px;
        padding-top: 5px;
        text-align:center;
        text-decoration:none;

   }
         
    .webgrid-footer
    {
    }
    .webgrid-row-style
    {
        padding: 3px 7px 2px;
        max-width:120px;
        white-space:nowrap;
        vertical-align: top;
        font-size:11px;
        font-family: Verdana, Arial, Helvetica, sans-serif;
    }
    .webgrid-alternating-row
    {
        background-color: #EAF2D3;
        padding: 3px 7px 2px;
        font-size:11px;
         font-family: Verdana, Arial, Helvetica, sans-serif;
    }

tr.webgrid-header > th > a {
text-decoration:none;
font-size:13px;

}

    tr.webgrid-header >th:hover  {
    background-color:orange;
    color:white;
    }
tr.webgrid-header > th > a:hover {

color:white;

}



   
