﻿a:link {
    font-family: arial, monospace;
    text-decoration: none;
    color:white;
    display: inline-block;
    background-color: #99cc00;
    width: initial;
    text-align: center;
    float: left;
    border-radius: 25px;
    padding: 10px;
    font-size: 14px;
}

a:hover{
  text-decoration:none;
  background-color:orange;
}
a:visited{
  color:blue;
  text-decoration: none;
}
a:focus{
color:yellow;
}

p>a:link, p>a:visited{
color:white;
margin-left:178px;
}