﻿fieldset {
border:1px solid orange;
}
fieldset legend{
    text-align:center;
    width:200px;
    font-size:20px;
    color:white;
    background-color:#9f7112;
    border-radius:25px;

}
table{
   border: 0px solid green;
  border-spacing: 0px;
}

tr:nth-child(even) {background: #fff}
tr:nth-child(odd) {background: #EAF2D3}
tr>td:first-child {background:blanchedalmond}
tr > td:first-child:hover {color:blue}

table thead tr{
  font-family: Arial, monospace;
  font-size: 40px;
}

table thead tr th{
  border-bottom: 1px solid black;
  border-top: 1px solid black;
  margin: 0px;
  padding: 2px;
  background-color: #cccccc;
}

table tr {
  font-family: arial, monospace;
  color: black;
  font-size:12px;
  background-color: white;
}

table tr.odd {
  background-color: #AAAAAA;
}

table tr td, th{
  border-bottom: 1px;
  padding: 5px;
}

a:link {
    font-family: arial, monospace;
    text-decoration: none;
    color:white;
    display: inline-block;
    background-color: #99cc00;
    width: initial;
    text-align: center;
    float: left;
    border-radius: 25px;
    padding: 10px;
    font-size: 16px;
}


a:last-child {
   left:110px;
}
a:hover{
  text-decoration:none;
  background-color:orange;
}
a:visited{
  color:white;
  text-decoration: none;
}


input {
width:400px;
padding:3px;
background-color:white;
border-radius:25px;
border:none;
}
    input[type=submit] {
    color:white;
    background-color:#99cc00;
    width:100px;
    }
    input[type=submit]:hover {
    background-color:orange;
    color:blue;
    }

  button {
    background-color: #99cc00; /* Green */
    border: none;
    color: white;
    padding: 5px 5px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin-left:200px;
    border-radius:25px;
}

tr#btn>button.btn {
    background-color: #99cc00; /* Green */
    border: none;
    color: white;
    padding: 5px 5px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius:25px;

}
 button:hover {
    background-color:orange;
    }
