﻿@model DedicatedRepLibrary.customer

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link href="~/Content/Customcss/ViewDetails.css" rel="stylesheet" />

    <title>Details</title>
</head>
<body>
    <fieldset>
        <legend>Customer Table</legend>
    <table>
        <tr><td>

        <div class="display-label">
             @Html.DisplayNameFor(model => model.CustomerName)
        </div></td><td>
        <div class="display-field">
            @Html.DisplayFor(model => model.CustomerName)
        </div></td></tr>
    <tr><td>
        <div class="display-label">
             @Html.DisplayNameFor(model => model.AccountId)
        </div></td><td>
        <div class="display-field">
            @Html.DisplayFor(model => model.AccountId)
        </div></td></tr>
    <tr><td>
        <div class="display-label">
             @Html.DisplayNameFor(model => model.VendorId)
        </div></td><td>
        <div class="display-field">
            @Html.DisplayFor(model => model.VendorId)
        </div></td></tr>
    <tr><td>
        <div class="display-label">
            @Html.DisplayNameFor(model => model.Active)
        </div></td><td>
        <div class="display-field">
            @Html.DisplayFor(model => model.Active)
        </div></td></tr>
    <tr><td>
        <div class="display-label">
            @Html.DisplayNameFor(model => model.JobSkinDID)
        </div></td><td>
        <div class="display-field">
            @Html.DisplayFor(model => model.JobSkinDID)
        </div></td></tr>
    <tr><td>
        <div class="display-label">
            @Html.DisplayNameFor(model => model.CompanyProfile)
        </div></td><td>
        <div class="display-field">
            @Html.DisplayFor(model => model.CompanyProfile)
        </div></td></tr>
   <tr><td>         
        <div class="display-label">
            @Html.DisplayNameFor(model => model.IndCodes)
        </div></td><td>
        <div class="display-field">
            @Html.DisplayFor(model => model.IndCodes)
        </div></td></tr>
    <tr><td>
         <div class="display-label">
            @Html.DisplayNameFor(model => model.URL)
        </div></td><td>
        <div class="display-field">
            @Html.DisplayFor(model => model.URL)
        </div></td></tr>
    <tr><td>
         <div class="display-label">
            @Html.DisplayNameFor(model => model.CreatedDate)
        </div></td><td>
        <div class="display-field">
            @Html.DisplayFor(model => model.CreatedDate)
        </div></td></tr>
    <tr><td>
         <div class="display-label">
            @Html.DisplayNameFor(model => model.ModifiedDate)
        </div></td><td>
        <div class="display-field">
            @Html.DisplayFor(model => model.ModifiedDate)
        </div></td></tr>
    </table>
    </fieldset>
    <p>
         @Html.ActionLink("Edit Record", "Edit", new { id=Model.CustomerId} )
         @Html.ActionLink("Back to Customer List", "Index")
    </p>
</body>
</html>
