﻿@model DedicatedRepLibrary.customer
@{
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Edit</title>
</head>
<body>
    <script src="~/Scripts/jquery-1.8.2.min.js"></script>
    <script src="~/Scripts/jquery.validate.min.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
    <link href="~/Content/Customcss/ViewDetails.css" rel="stylesheet" />
 
        @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()
        @Html.ValidationSummary(true)
    
        <fieldset>
            <legend>Customers Table</legend>
             @*Html.HiddenFor(model => model.ModifiedDate) *@
            @Html.HiddenFor(model => model.CustomerId)
    <table>
        
    <tr><td>
            <div class="editor-label">
                @Html.LabelFor(model => model.CustomerName)
            </div></td><td>
            <div class="editor-field">
               <span style="color:red"> @Html.EditorFor(model => model.CustomerName)*
                @Html.ValidationMessageFor(model => model.CustomerName)
                </span>
                   </div></td></tr>
    <tr><td>
            <div class="editor-label">
                @Html.LabelFor(model => model.AccountId)
            </div></td><td>
            <div class="editor-field">
                <span style="color:red">@Html.EditorFor(model => model.AccountId)*
                @Html.ValidationMessageFor(model => model.AccountId)
                </span>
            </div></td></tr>
    <tr><td>
            <div class="editor-label">
                @Html.LabelFor(model => model.VendorId)
            </div></td><td>
            <div class="editor-field">
                @Html.EditorFor(model => model.VendorId)
                @Html.ValidationMessageFor(model => model.VendorId)
            </div></td></tr>
    <tr><td>
            <div class="editor-label">
                @Html.LabelFor(model => model.Active)
            </div></td><td>
            <div class="editor-field">
                @Html.EditorFor(model => model.Active)
                @Html.ValidationMessageFor(model => model.Active)
            </div></td></tr>
    <tr><td>
            <div class="editor-label">
                @Html.LabelFor(model => model.JobSkinDID)
            </div></td><td>
            <div class="editor-field">
                @Html.EditorFor(model => model.JobSkinDID)
                @Html.ValidationMessageFor(model => model.JobSkinDID)
            </div></td></tr>
    <tr><td>
            <div class="editor-label">
                @Html.LabelFor(model => model.CompanyProfile)
            </div></td><td>
            <div class="editor-field">
                @Html.EditorFor(model => model.CompanyProfile)
                @Html.ValidationMessageFor(model => model.CompanyProfile)
            </div></td></tr>
    <tr><td>
            <div class="editor-label">
                @Html.LabelFor(model => model.IndCodes)
            </div></td><td>
            <div class="editor-field">
                @Html.EditorFor(model => model.IndCodes)
                @Html.ValidationMessageFor(model => model.IndCodes)
            </div></td></tr>
        <tr><td>
            <div class="editor-label">
                @Html.LabelFor(model => model.ModifiedDate)
            </div></td><td>
            <div class="editor-field">
                @Html.EditorFor(model => model.ModifiedDate)
                @Html.ValidationMessageFor(model => model.ModifiedDate)
            </div></td></tr>
    <tr><td>
            <div class="editor-label">
                @Html.LabelFor(model => model.URL)
            </div></td><td>
            <div class="editor-field">
                <span style="color:red">@Html.EditorFor(model => model.URL)*
                @Html.ValidationMessageFor(model => model.URL)
                </span>
            </div></td></tr>
         <tr ><td colspan="2" style="text-align:center"> 
            <p>
                <input type="submit" value="Update" />
            </p>
    </td></tr>
    </table>
        </fieldset>
    }
    
    <div>
        @Html.ActionLink("Back to Customer List", "Index")
    </div>
</body>
</html>
