﻿  @model DedicatedRepLibrary.job_histories

  @{
    Layout = null;
   }

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>EditJob_Histories</title>
</head>
<body>
    <script src="~/Scripts/jquery-1.8.2.min.js"></script>
    <script src="~/Scripts/jquery.validate.min.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
    <link href="~/Content/Customcss/ViewDetails.css" rel="stylesheet" />

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()
        @Html.ValidationSummary(true)
    
        <fieldset>
            <legend>job_histories Table</legend>
            <table>
            <tr>    
            <td>
            <div class="editor-label">
                @Html.LabelFor(model => model.JobHistoryID)
            </div></td><td>
            <div class="editor-field">
                @Html.EditorFor(model => model.JobHistoryID)
                @Html.ValidationMessageFor(model => model.JobHistoryID)
            </div></td></tr><tr><td>
    
            <div class="editor-label">
                @Html.LabelFor(model => model.HistoryDate)
            </div></td><td>
            <div class="editor-field">
                @Html.EditorFor(model => model.HistoryDate)
                @Html.ValidationMessageFor(model => model.HistoryDate)
            </div></td></tr><tr><td>
    
            <div class="editor-label">
                @Html.LabelFor(model => model.JobCreatedDate)
            </div></td><td>
            <div class="editor-field">
                @Html.EditorFor(model => model.JobCreatedDate)
                @Html.ValidationMessageFor(model => model.JobCreatedDate)
            </div></td></tr><tr><td>
    
            <div class="editor-label">
                @Html.LabelFor(model => model.CustomerID)
            </div></td><td>
            <div class="editor-field">
                @Html.EditorFor(model => model.CustomerID)
                @Html.ValidationMessageFor(model => model.CustomerID)
            </div></td></tr><tr><td>
    
            <div class="editor-label">
                @Html.LabelFor(model => model.JobTitle)
            </div></td><td>
            <div class="editor-field">
                @Html.EditorFor(model => model.JobTitle)
                @Html.ValidationMessageFor(model => model.JobTitle)
            </div></td></tr><tr><td>
    
            <div class="editor-label">
                @Html.LabelFor(model => model.JobCode)
            </div></td><td>
            <div class="editor-field">
                @Html.EditorFor(model => model.JobCode)
                @Html.ValidationMessageFor(model => model.JobCode)
            </div></td></tr><tr><td>
    
            <div class="editor-label">
                @Html.LabelFor(model => model.City)
            </div></td><td>
            <div class="editor-field">
                @Html.EditorFor(model => model.City)
                @Html.ValidationMessageFor(model => model.City)
            </div></td></tr><tr><td>
    
            <div class="editor-label">
                @Html.LabelFor(model => model.State)
            </div></td><td>
            <div class="editor-field">
                @Html.EditorFor(model => model.State)
                @Html.ValidationMessageFor(model => model.State)
            </div></td></tr><tr><td>
    
            <div class="editor-label">
                @Html.LabelFor(model => model.Country)
            </div></td><td>
            <div class="editor-field">
                @Html.EditorFor(model => model.Country)
                @Html.ValidationMessageFor(model => model.Country)
            </div></td></tr><tr><td>
    
            <div class="editor-label">
                @Html.LabelFor(model => model.JobType)
            </div></td><td>
            <div class="editor-field">
                @Html.EditorFor(model => model.JobType)
                @Html.ValidationMessageFor(model => model.JobType)
            </div></td></tr><tr><td>
    
            <div class="editor-label">
                @Html.LabelFor(model => model.JobDetail)
            </div></td><td>
            <div class="editor-field">
               @* @Html.EditorFor(model => model.JobDetail)*@
                @Html.TextAreaFor(model => model.JobDetail, new {cols="55", rows="10"})
                @Html.ValidationMessageFor(model => model.JobDetail)
            </div></td></tr><tr><td>
    
            <div class="editor-label">
                @Html.LabelFor(model => model.JobNote)
            </div></td><td>
            <div class="editor-field">
                @Html.EditorFor(model => model.JobNote)
                @Html.ValidationMessageFor(model => model.JobNote)
            </div></td></tr><tr><td>
    
            <div class="editor-label">
                @Html.LabelFor(model => model.ApplyUrl)
            </div></td><td>
            <div class="editor-field">
                @Html.EditorFor(model => model.ApplyUrl)
                @Html.ValidationMessageFor(model => model.ApplyUrl)
            </div></td></tr><tr><td>
    
            <div class="editor-label">
                @Html.LabelFor(model => model.FromDate)
            </div></td><td>
            <div class="editor-field">
                @Html.EditorFor(model => model.FromDate)
                @Html.ValidationMessageFor(model => model.FromDate)
            </div></td></tr><tr><td>
    
            <div class="editor-label">
                @Html.LabelFor(model => model.ToDate)
            </div></td><td>
            <div class="editor-field">
                @Html.EditorFor(model => model.ToDate)
                @Html.ValidationMessageFor(model => model.ToDate)
            </div></td></tr><tr><td>
    
            <div class="editor-label">
                @Html.LabelFor(model => model.CompanyName)
            </div></td><td>
            <div class="editor-field">
                @Html.EditorFor(model => model.CompanyName)
                @Html.ValidationMessageFor(model => model.CompanyName)
            </div></td></tr><tr><td>
    
            <div class="editor-label">
                @Html.LabelFor(model => model.Category)
            </div></td><td>
            <div class="editor-field">
                @Html.EditorFor(model => model.Category)
                @Html.ValidationMessageFor(model => model.Category)
            </div></td></tr><tr><td>
    
            <div class="editor-label">
                @Html.LabelFor(model => model.JobRequirements)
            </div></td><td>
            <div class="editor-field">
                @Html.EditorFor(model => model.JobRequirements)
                @Html.ValidationMessageFor(model => model.JobRequirements)
            </div></td></tr><tr><td>
    
            @*<div class="editor-label">
                @Html.LabelFor(model => model.CreatedDate)
            </div></td><td>
            <div class="editor-field">
                @Html.EditorFor(model => model.CreatedDate)
                @Html.ValidationMessageFor(model => model.CreatedDate)
            </div></td></tr><tr><td>*@
    
            <div class="editor-label">
                @Html.LabelFor(model => model.UpdateDate)
            </div></td><td>
            <div class="editor-field">
                @Html.EditorFor(model => model.UpdateDate)
                @Html.ValidationMessageFor(model => model.UpdateDate)
            </div></td></tr><tr><td colspan="2">
            <p>
             <input type="submit" value="Save" />
            </p>
            </td></tr>
        </table>
      </fieldset>
      }
    <div>
       @Html.ActionLink("Back to Compare List", "SelectData", new { id=Model.CustomerID})
    </div>
</body>
</html>
