﻿@model DedicatedRepLibrary.ViewModels.ViewModel

@{
    List<DedicatedRepLibrary.customer> c = Model.allcustomer;
 }

@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
    <link href="~/Content/Customcss/HomeCustom.css" rel="stylesheet" />
    <link href="~/Content/Customcss/Index.css" rel="stylesheet" />
    
</head>
<body>
    <fieldset style="border:none">
        <Legend></legend>
    <table>
        <tr><th colspan="2" style="color:#4d004d;text-align:center"><u><h1>List of Customers</h1></u></th></tr>
        <tr>
            <td>
               <div>
         @{
             var sno=0;
             var d=new WebGrid(c,
             canPage:false          
            );
            
         @d.GetHtml(
            tableStyle: "webgrid-table",
            headerStyle: "webgrid-header",
            footerStyle: "webgrid-footer",
            alternatingRowStyle: "webgrid-alternating-row",
            selectedRowStyle: "webgrid-selected-row",
            rowStyle: "webgrid-row-style",
            mode: WebGridPagerModes.All,
           // fillEmptyRows: true,
        
            columns:d.Columns(
            d.Column("S.No", format: item => sno = sno + 1),
            d.Column("CustomerName","Customer Name"), //The 1st string i.e."CustomerName" is the column name AND second string i.e."Customer Name" is table heading.
            d.Column("AccountId","AccountId"),
            d.Column("URL","Url"),
            d.Column("CompanyProfile","CompanyProfile"),
            d.Column("ModifiedDate","ModifiedDate", style:"ModifiedDate"),
            // d.Column(format: (item) =>Html.ActionLink("Fetch Data", "JobCompare", new { id=item.CustomerId})),
            d.Column(format: (item) =>Html.ActionLink("Select", "SelectData", new { id=item.CustomerId})),
            d.Column(format: (item) =>Html.ActionLink("Edit", "Edit", new { id=item.CustomerId })),
            d.Column(format: (item) =>Html.ActionLink("Details", "Details", new { id=item.CustomerId })),
            d.Column(format: (item) =>Html.ActionLink("Delete", "Delete", new { id=item.CustomerId }))
            
            )
            ); 
            }
         </div>
       </td>
      </tr>
     </table>
    </fieldset>
    <p>
        @Html.ActionLink("Add a New Customer", "Create", new { id="add"})
    </p>
  
</body>
</html>
