﻿@model DedicatedRepLibrary.job

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link href="~/Content/Customcss/ViewDetails.css" rel="stylesheet" />

    <title>JobDetails</title>
</head>
<body>
    <fieldset>
        <legend>job Table</legend>
        <table>
            <tr><td>
        <div class="display-label">
             @Html.DisplayNameFor(model => model.JobTitle)
        </div></td><td>
        <div class="display-field">
            @Html.DisplayFor(model => model.JobTitle)
        </div></td></tr><tr><td>
    
        <div class="display-label">
             @Html.DisplayNameFor(model => model.JobCode)
        </div></td><td>
        <div class="display-field">
            @Html.DisplayFor(model => model.JobCode)
        </div></td></tr><tr><td>
    
        <div class="display-label">
             @Html.DisplayNameFor(model => model.City)
        </div></td><td>
        <div class="display-field">
            @Html.DisplayFor(model => model.City)
        </div></td></tr><tr><td>
    
        <div class="display-label">
             @Html.DisplayNameFor(model => model.State)
        </div></td><td>
        <div class="display-field">
            @Html.DisplayFor(model => model.State)
        </div></td></tr><tr><td>
    
        <div class="display-label">
             @Html.DisplayNameFor(model => model.Country)
        </div></td><td>
        <div class="display-field">
            @Html.DisplayFor(model => model.Country)
        </div></td></tr><tr><td>
    
        <div class="display-label">
             @Html.DisplayNameFor(model => model.JobType)
        </div></td><td>
        <div class="display-field">
            @Html.DisplayFor(model => model.JobType)
        </div></td></tr><tr><td>
    
        <div class="display-label">
             @Html.DisplayNameFor(model => model.JobDetail)
        </div></td><td>
        <div class="display-field">
            @Html.DisplayFor(model => model.JobDetail)
        </div></td></tr><tr><td>
    
        <div class="display-label">
             @Html.DisplayNameFor(model => model.CreatedDate)
        </div></td><td>
        <div class="display-field">
            @Html.DisplayFor(model => model.CreatedDate)
        </div></td></tr><tr><td>
    
        <div class="display-label">
             @Html.DisplayNameFor(model => model.UpdateDate)
        </div></td><td>
        <div class="display-field">
            @Html.DisplayFor(model => model.UpdateDate)
        </div></td></tr><tr><td>
    
        <div class="display-label">
             @Html.DisplayNameFor(model => model.AccountDID)
        </div></td><td>
        <div class="display-field">
            @Html.DisplayFor(model => model.AccountDID)
        </div></td></tr><tr><td>
    
        <div class="display-label">
             @Html.DisplayNameFor(model => model.JobNote)
        </div></td><td>
        <div class="display-field">
            @Html.DisplayFor(model => model.JobNote)
        </div></td></tr><tr><td>
    
        <div class="display-label">
             @Html.DisplayNameFor(model => model.ApplyUrl)
        </div></td><td>
        <div class="display-field">
            @Html.DisplayFor(model => model.ApplyUrl)
        </div></td></tr><tr><td>
    
        <div class="display-label">
             @Html.DisplayNameFor(model => model.FromDate)
        </div></td><td>
        <div class="display-field">
            @Html.DisplayFor(model => model.FromDate)
        </div></td></tr><tr><td>
    
        <div class="display-label">
             @Html.DisplayNameFor(model => model.ToDate)
        </div></td><td>
        <div class="display-field">
            @Html.DisplayFor(model => model.ToDate)
        </div></td></tr><tr><td>
    
        <div class="display-label">
             @Html.DisplayNameFor(model => model.CompanyName)
        </div></td><td>
        <div class="display-field">
            @Html.DisplayFor(model => model.CompanyName)
        </div></td></tr><tr><td>
    
        <div class="display-label">
             @Html.DisplayNameFor(model => model.Category)
        </div></td><td>
        <div class="display-field">
            @Html.DisplayFor(model => model.Category)
        </div></td></tr><tr><td>
    
        <div class="display-label">
             @Html.DisplayNameFor(model => model.JobRequirements)
        </div></td><td>
        <div class="display-field">
            @Html.DisplayFor(model => model.JobRequirements)
        </div></td></tr><tr><td>
    
        <div class="display-label">
             @Html.DisplayNameFor(model => model.CustomerId)
        </div></td><td>
        <div class="display-field">
            @Html.DisplayFor(model => model.CustomerId)
        </div></td></tr>

     </table>
    </fieldset>
    <p>
        @Html.ActionLink("Edit Record", "EditJob", new { id=Model.CustomerId })
        @Html.ActionLink("Back to Compare List", "SelectData", new { id=Model.CustomerId})
    </p>
</body>
</html>
