﻿@model DedicatedRepLibrary.ViewModels.ViewModel
@{
    List<DedicatedRepLibrary.job> joblist = Model.alljobs;
    List<DedicatedRepLibrary.job_histories> job_historylist = Model.alljobhistories;       
}

@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>SelectData</title>
    <link href="~/Content/Customcss/HomeCustom.css" rel="stylesheet" />
    <script src="~/Scripts/jquery.ui.core.min.js"></script>

   
</head>
<body>
    <table>
    <th colspan="2"><h2 style="color:#4d004d;"><u>Welcome to the Job Comaprison Page</u></h2></th>
    <tr style="color:#444422">
        <th>Source Data</th>
        <th>Target Data</th>
    </tr>
         
        <tr id="AA" style="background-color:#EAF2D3;">
         <td colspan="2">
            <div id="maindiv">
            <div id="sourcedata">
                    @{
                       int sno = 0;
                       var grid_job = new WebGrid(joblist,
                       canPage: false
                      // rowsPerPage:40
                       );
                           
                       @grid_job.GetHtml(
                       tableStyle: "webgrid-table",
                       headerStyle: "webgrid-header",
                       footerStyle: "webgrid-footer",
                       alternatingRowStyle: "webgrid-alternating-row",
                       selectedRowStyle: "webgrid-selected-row",
                       rowStyle: "webgrid-row-style",
                       mode: WebGridPagerModes.All,
                       fillEmptyRows: true,

                       columns: grid_job.Columns(
                       grid_job.Column("S.No", format: item => sno = sno + 1),
                       grid_job.Column("JobCode", "JobCode"),
                       grid_job.Column("JobTitle", "JobTitle"),
                       grid_job.Column("ApplyUrl", "ApplyURL"),
                       grid_job.Column("Country", "Country"),
                       grid_job.Column("State", "State"),
                       grid_job.Column("City", "City"),
                       grid_job.Column(format: (item) => Html.ActionLink("View Details", "JobDetails", new { id = item.CustomerId}))
                       )
                       );
                    }
                </div>
                
                <div id="targetdata">
                       @{
                       int sno1 = 0;
                       var grid_jh = new WebGrid(job_historylist,
                       canPage: false
                       //rowsPerPage: 1000
                       );
                          
                       @grid_jh.GetHtml(
                       tableStyle: "webgrid-table",
                       headerStyle: "webgrid-header",
                       footerStyle: "webgrid-footer",
                       alternatingRowStyle: "webgrid-alternating-row",
                       selectedRowStyle: "webgrid-selected-row",
                       rowStyle: "webgrid-row-style",
                       mode: WebGridPagerModes.All,
                       fillEmptyRows: true,

                       columns: grid_jh.Columns(
                       grid_jh.Column("S.No.", format: item => sno1 = sno1 + 1),
                       grid_jh.Column("JobCode", "JobCode"),
                       grid_jh.Column("JobTitle", "JobTitle"),
                       grid_jh.Column("ApplyUrl", "ApplyUrl"),
                       grid_jh.Column("Country", "Country"),
                       grid_jh.Column("State", "State"),
                       grid_jh.Column("City", "City"),
                       //grid_jh.Column("JobHistoryID","JobHistoryID", style:"myhiddencolumn"),
                       grid_jh.Column(null, null, format: @<input type="hidden" name="JobHistoryID" value="@item.JobHistoryID " />),
                       grid_job.Column(format: (item) => Html.ActionLink("View Details", "Job_HistoryDetails", new { id = item.JobHistoryID }, new { @class="popup"}))
                       )
                      );
                    }
                </div>
           </div>
         </td>
         </tr>
   
    <tr id="btnfooter">
        <td>
            <button name="clist" value="" onclick="location.href='@Url.Action("Index","Home")'">Back to Customer List</button>
        </td>
        <td>
            <button id="compare" type="button" value="" >Job Compare</button>
        </td>
   </tr>
    
</table>
</body>
</html>
